<!DOCTYPE html>
<html>
<head>
    <title>flucalc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/prefixfree.min.js') }}"></script>
</head>
<body>
<div class="main">
    <header class="page-header">
        <h1>Flucalc</h1>
        {% if version %}
            <p class="version">Version: {{ version }}</p>
        {% endif %}
    </header>
    <div class="content">
        {% block content %}{% endblock %}
        {% block errors %}{% endblock %}
        {% block results %}{% endblock %}
    </div>
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>