<!DOCTYPE html>
<html>
<head>
    <title>flucalc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/prefixfree.min.js') }}"></script>
</head>
<body>
<div class="main">
    <header class="page-header">
        <h1>Flucalc </h1>
        (C_com adjusted to culture)
    </header>
    <div class="content">
        {% block content %}{% endblock %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flashes_block">
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
    </div>
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>