<!DOCTYPE html>
<html>
<head>
    <title>FluCalc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/prefixfree.min.js') }}"></script>
</head>
<body>
<div class="main">
    <header class="page-header">
        <h1>FluCalc</h1>
        {% if version %}
            <p class="version">Version: {{ version }}</p>
        {% endif %}
    </header>
    <div class="content">
        {% block content %}{% endblock %}
        {% block errors %}{% endblock %}
        {% block frequencies %}{% endblock %}
        {% block results %}{% endblock %}
        <hr>
        <div class="footer">
            <div>
                <p>Citations</p>
                <p>
                    <a href="https://link.springer.com/protocol/10.1007%2F978-1-4939-7306-4_29">
                        Radchenko et. al, 2017
                    </a>
                </p>
                <p>DOI: 10.1007/978-1-4939-7306-4_29</p>
                <p>PMID: 29043640&emsp;PMCID: PMC5741187</p>
            </div>
            <div class="contact">
                <p>Contacts</p>
                <p><a href="mailto:flucalc@gmail.com">flucalc@gmail.com</a></p>
                <p><a href="https://github.com/bondarevts/flucalc">Source code</a></p>
                <p><a href="https://github.com/bondarevts/flucalc/issues">Bug Tracker</a></p>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/files_io.js') }}"></script>
</body>
</html>
