* {
 box-sizing: border-box;
}

body {
    margin: 0;
    background: #565152;
    font-size: 20px;

    display:box;
    box-pack:center;
    box-align:center;
}

header.page-header {
    position: relative;
    min-height: 20px;
    padding: 10px 30px;
    background: #76b0bc;
    color: white;
    font-size: large;
}

header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

div.main {
    padding: 0 40px 40px 40px;
    background: #333;
}

div.content {
    position: relative;
    min-height: 200px;
    padding: 20px;
    background: white;
    color: black;
}

textarea {
    min-height: 100px;
    resize: none;
}

textarea:focus {
    box-shadow:0 0 5px rgba(50, 200, 255, 0.5);
    outline:none;
}

input[type="submit"] {
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: bold;
}

label {
    display: block;
}

label[for="v_total"] {
    display: inline;
}

.data-block {
    display: inline-block;
    padding: 0 25px;
    text-align: center;
}

form .data-block label {
    margin-top: 15px;
}

.data-block .block-header {
    font-size: 24px;
    font-weight: bold;
}

textarea,
input[type="text"] {
    width: 200px;
    max-width: 200px;
    font-size: 16px;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
}

.separator {
    border-left: thick solid #888;
    display: inline-block;
    top: 10%;
    bottom: 10%;
}

.result {
    display: inline-block;
    padding: 10px 30px;
}

.result h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}


.result table {
    border: 1px solid #ccc;
    border-collapse:collapse;
}

.result table td {
    padding: 5px 10px;

}

.result table tr:nth-child(2n) {
    background-color: #efefef;
}

.flashes_block {
    background-color: #FFB8C6;
    border-radius: 10px;
    padding: 15px 30px;
    margin-top: 20px;
    font-face:
}

.flashes_block ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.flashes_block ul li {
    margin-top: 5px;
}

p.version {
    margin: 0;
    margin-top: 10px;
}