* {
 box-sizing: border-box;
}

body {
    margin: 0;
    background: #565152;
    font-size: 20px;

    display:box;
    box-pack:center;
    box-align:center;
}

header.page-header {
    position: relative;
    min-height: 20px;
    padding: 10px 30px;
    background: #76b0bc;
    color: white;
    font-size: large;
}

header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.file-download-offer {
    margin-bottom: 10px;
}

div.main {
    padding: 0 40px 40px 40px;
    background: #333;
}

div.content {
    position: relative;
    min-height: 200px;
    padding: 20px;
    background: white;
    color: black;
}

textarea {
    min-height: 100px;
    resize: none;
}

textarea:focus {
    box-shadow:0 0 5px rgba(50, 200, 255, 0.5);
    outline:none;
}

.controls {
    margin-top: 10px;
}

.controls > div.inner {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button {
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: bold;
}

label {
    display: block;
}

label[for="v_total"] {
    display: inline;
}

.data-block {
    display: inline-block;
    padding: 0 25px;
    text-align: center;
}

form .data-block label {
    margin-top: 15px;
}

.data-block .block-header {
    font-size: 24px;
    font-weight: bold;
}

textarea,
input[type="text"] {
    width: 200px;
    max-width: 200px;
    font-size: 16px;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
}

.separator {
    border-left: thick solid #888;
    display: inline-block;
    top: 10%;
    bottom: 10%;
}

.result {
    display: inline-block;
    padding: 10px 30px;
}

.result h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}


.result table {
    border: 1px solid #ccc;
    border-collapse:collapse;
}

.result table td {
    padding: 5px 10px;

}

.result table tr:nth-child(2n) {
    background-color: #efefef;
}

.errors_block {
    background-color: #FFB8C6;
    border-radius: 10px;
    padding: 15px 30px;
    margin-top: 20px;
    font-face:
}

.errors_block ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.errors_block ul li {
    margin-top: 5px;
}

p.version {
    margin: 0;
    margin-top: 10px;
}

div.process-steps {
    margin: 0;
    background-color: #efefef;
}

div.process-steps ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.step {
    padding: 10px;
    border-top: 2px solid #ccc;
}

.footer {
    font-size: 12px;
    margin-top: 10px;
    overflow: hidden;
}

.footer div {
    float: left;
}

.footer div:not(:first-child) {
    margin-left: 40px;
}

.footer p {
    margin: 3px;
}

.footer p:first-child {
    font-weight: bold;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.spoiler > input + label:after {
  content: "(show)";
  padding: 5px 0px;
  font-size: 12px;
  float: right;
  margin-right: 5px;

}

.spoiler > input:checked + label:after {
  content: "(hide)";
  padding: 5px 0px;
  font-size: 12px;
  float: right;
  margin-right: 5px;
}

.spoiler > input {
  display: none;
}

.spoiler label {
  padding: 5px;
}

.spoiler > input + label,
.spoiler_body {
  background: #CCC;
  overflow: hidden;
  box-sizing: border-box;
  display: block;
}

.spoiler > input + label + .spoiler_body {
  display: none;
}

.spoiler > input:checked + label + .spoiler_body {
  display: block;
}

.spoiler .spoiler_body {
  background: #FFF;
  border: 3px solid #CCC;
  border-top: none;
}
